{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-4">
  <h3>Buscador de productos SAP</h3>

  <form method="get" class="mb-3">
    <input type="text" name="q" placeholder="Buscar producto..." value="{{ termino }}">
    <label><input type="checkbox" name="con_stock" {% if filtrar_stock %}checked{% endif %}> Solo con stock</label>
    <button type="submit">Buscar</button>
  </form>
  
  {% if resultados %}
  <table border="1" class="table table-striped">
    <thead>
      <tr>
        <th>Código</th>
        <th>Descripción</th>
        <th>Stock</th>
        <th>PMV</th>
        <th>Detalles</th> <!-- Nueva columna para el botón -->
      </tr>
    </thead>
    <tbody>
      {% for producto in resultados %}
        <tr>
          <td>{{ producto.Codigo }}</td>
          <td>{{ producto.Descripcion }}</td>
          <td>{{ producto.StockTotal }}</td>
          <td>${{ producto.PrecioMinVta|floatformat:0 }}</td>
          <td>
            <!-- Botón o enlace para ver los detalles del producto -->
            <a href="{% url 'obtener_detalle_producto' producto.Codigo %}" class="btn btn-info">Ver detalles</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p>No hay resultados.</p>
  {% endif %}
</div>
{% endblock %}
